* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app__header {
  object-fit: contain;
  border: 1px solid lightgray;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.app__signup {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.app__headerImage {
  object-fit: contain;
}
.app__login {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
